* {
    margin: 0px;
}
header {
    display: flex;
    background-color: rgb(78, 82, 82);
    align-items: center;
    justify-content: center;
    /* justify-content: flex-end; */
    gap: 105px;
    padding: 20px;
    padding-left: 25px;
    border-radius: 5px;
    border-top: 12px solid black;
    border-left: 12px solid black;
    border-right: 12px solid black;
    border-bottom: 12px solid black;
}

nav {
    /* border: black 2px solid; */
    display: flex;
    gap: 200px;
}
button {
    border-radius: 5px;
    padding: 15px 50px;
    background-color: grey;
    color: white;
}
img {
    height: 500px;
    border-radius: 5px;
    margin: 20px;
    border-top: 12px solid black;
    border-left: 12px solid black;
    border-bottom: 12px solid black;
    border-right: 12px solid black;
}

#content {
    justify-items: center;
}

p {
    padding:25px;
    font-size: 2rem;
    border-radius: 5px;
    border-right: 12px solid black;
    border-bottom: 12px solid black;
    border-top: 12px solid black;
    border-left: 12px solid black;
    width: 40%;
    background-color: grey;
    align-self: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}